<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CDN axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- CDN vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
    <!-- fontAwsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS flags -->
    <link rel="stylesheet" href="styles/css/flag-icon.min.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/style.css">

    <title>BoolFlix</title>
</head>
<body>
    <div id="root">
        <nav class="nav-bar">
            <div class="logo-bar" @click="welcomePage">
                <p><strong>BOOLFLIX</strong></p>
            </div>
            <div class="blank-space">

            </div>
            <div class="search-bar">
                <input type="text" v-model="queryToSearch" @keyup.enter="doSearch">
                <span @click="doSearch"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </nav>
       
        <!-- lista per stampare risultati chiamata API -->
        <main>
            <div class="welcome-page" v-if="!filmsList || !tvSeriesList">
                <h3>Bentornato! Ecco i 20 titoli del momento!</h3>
                <div class="film-container xl">
                    
                    
                    <div  class="show-card" v-for ="(film, index) in popularFilmList">

                        <div  class="cover-box" v-if="getPoster(film) == 'https://image.tmdb.org/t/p/w342null' ">
                            <img  :src="noImg_Url" alt="imageNotFound">
                            <span class="noImgTitle">{{film.title}}</span>
                        </div>
                        <div class="cover-box" v-else>    
                            <img :src="getPoster(film)" alt="show cover">
                        </div>
                        <!-- solo se in hover -->
                        <div class= "hover-box" @mouseover="getInfo = film.id" @mouseleave ="getInfo = null" > 
                            <div class="show-box" v-show="getInfo == film.id">

                                <div class="title">
                                    <p><strong> titolo: </strong>{{film.title}}</p>
                                    <p v-if="film.title != film.original_title"> <strong> titolo originale:</strong>  {{film.original_title}}</p>
                                </div>
                                <div class="overview-box">
                                    <p v-if ="film.overview == ''"><strong> overview:</strong> n.d</p>
                                    <p v-else><strong>overview:</strong>{{trimmedOverview(film)}}</p>
                                </div>    
                                <div class="rakings">
                                    <span><strong>voto</strong></span>
                                    <span class="blank-space"></span>
                                    <i :class="starVote(film, index)" v-for="(star, index) in 5" aria-hidden="true"></i> 
                                </div> 
                                <div class="cast-box">
                                    <a href="#" @click="getCast(film)">cast</a>
                                    <span v-if="film.actors"> 
                                        <span v-for="actors in film.actors">{{actors.original_name}}</span>
                                    </span>
                                </div>                 
                                <div class="original-language" v-if="!film.actors">
                                    <span  class="flag-icon" :class="getFlag(film)"></span> 
                                </div> 

                            </div>
                        </div>                                   
                    </div>
                </div>

            </div>
            
            <div class="show-on-search" v-else>  
                <span class="homepage">
                    <a href="#" @click="welcomePage"> <strong> torna alla pagina iniziale </strong> </a>
                </span>          
                <h3>Film</h3>                
                <div class="film-container">
                    
                    
                    <div  class="show-card" v-for ="(film, index) in filmsList">

                        <div  class="cover-box" v-if="getPoster(film) == 'https://image.tmdb.org/t/p/w342null' ">
                            <img  :src="noImg_Url" alt="imageNotFound">
                            <span class="noImgTitle">{{film.title}}</span>
                        </div>
                        <div class="cover-box" v-else>    
                            <img :src="getPoster(film)" alt="show cover">
                        </div>
                        <!-- solo se in hover -->
                        <div class= "hover-box" @mouseover="getInfo = film.id" @mouseleave ="getInfo = null" > 
                            <div class="show-box" v-show="getInfo == film.id">

                                <div class="title">
                                    <p><strong> titolo: </strong>{{film.title}}</p>
                                    <p v-if="film.title != film.original_title"> <strong> titolo originale:</strong> {{film.original_title}}  </p>
                                </div>
                                <div class="overview-box">
                                    <p v-if ="film.overview == ''"><strong> overview:</strong> n.d</p>
                                    <p v-else><strong>overview:</strong>{{trimmedOverview(film)}}</p>
                                </div>    
                                <div class="rakings">
                                    <span><strong>voto</strong></span>
                                    <span class="blank-space"></span>
                                    <i :class="starVote(film, index)" v-for="(star, index) in 5" aria-hidden="true"></i> 
                                </div> 
                                <div class="cast-box">
                                    <a href="#" @click="getCast(film)">cast</a>
                                    <span v-if="film.actors"> 
                                        <span v-for="actors in film.actors">{{actors.original_name}}</span>
                                    </span>
                                </div>                 
                                <div class="original-language" v-if="!film.actors">
                                    <span  class="flag-icon" :class="getFlag(film)"></span> 
                                </div> 

                            </div>
                        </div>                                   
                    </div>
                </div>
                <h3>Serie TV</h3>
                <div class="series-container">
                    
                    <div  class="show-card" v-for ="(tv, index) in tvSeriesList">

                        <div  class="cover-box" v-if="getPoster(tv) == 'https://image.tmdb.org/t/p/w342null' ">
                            <img  :src="noImg_Url" alt="imageNotFound">
                            <span class="noImgTitle">{{tv.title}}</span>
                        </div>
                        <div class="cover-box" v-else>    
                            <img :src="getPoster(tv)" alt="show cover">
                        </div>
                        <!-- solo se in hover -->
                        <div class= "hover-box" @mouseover="getInfo = tv.id" @mouseleave ="getInfo = null"> 
                            <div class="show-box" v-show="getInfo == tv.id">

                                <div class="title">
                                    <p><strong> titolo: </strong>{{tv.title}}</p>
                                    <p v-if="tv.title != tv.original_title"> <strong> titolo originale:</strong>  {{tv.original_title}}</p>
                                </div>
                                <div class="overview-box">
                                    <p v-if ="tv.overview == ''"><strong> overview:</strong> n.d. </p>
                                    <p v-else><strong>overview:</strong>{{trimmedOverview(tv)}}</p>
                                </div>    
                                <div class="rakings">
                                    <span><strong>voto</strong></span>
                                    <span class="blank-space"></span>
                                    <i :class="starVote(tv, index)" v-for="(star, index) in 5" aria-hidden="true"></i> 
                                </div>
                                <div class="cast-box">
                                    <a href="#" @click="getCast(tv)">cast</a>
                                    <span v-if="tv.actors"> 
                                        <span v-for="actors in tv.actors" class="MaxGrowth">{{actors.original_name}}</span>
                                    </span>
                                </div>                                   
                                <div class="original-language" v-if="!tv.actors">
                                    <span  class="flag-icon" :class="getFlag(tv)"></span> 
                                </div> 

                            </div>
                        </div>                                   
                    </div>

                </div>
            </div>

        </main>

    </div>    
    <script src="scripts/app.js"></script>
</body>
</html>