<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CDN axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- CDN vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
    <!-- fontAwsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS flags -->
    <link rel="stylesheet" href="styles/css/flag-icon.min.css">

    <link rel="stylesheet" href="styles/style.css">

    <title>BoolFlix</title>
</head>
<body>
    <div id="root">
        <div>
            <input type="text" v-model="queryToSearch">
            <button @click.prevent="doSearch"> search </button>
        </div>
        <!-- lista per stampare risultati chiamata API -->
        <div>
            <ul v-for ="(film, index) in filmsList">
                <li>
                    <img v-if="getPoster(film) == 'https://image.tmdb.org/t/p/w342null' " :src="noImg_Url" alt="imageNotFound">
                    <img v-else :src="getPoster(film)" alt="show cover">
                    <p>{{film.title}}</p>
                    <p>{{film.original_title}}</p>

                    <p>{{film.original_language}}</p>
                    <span  class="flag-icon" :class="getFlag(film)"></span>
                    
                    <p>{{ Math.ceil(film.vote_average/2)}}</p>
                    <i :class="starVote(film, index)" v-for="(star, index) in 5" aria-hidden="true"></i>
                
                </li>
            </ul>            
        </div>

    </div>    
    <script src="scripts/app.js"></script>
</body>
</html>